.menu-card .fruit-number{
    display: none;
}

.menu-card.selected .fruit-number{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(318deg, #00C7B8,#00A0C3);
}

.add-popup{
    position: absolute;
    height: 100vh;
    width:100vw;
    background: rgba(255,255,255, 0.81);
    top: 0px;
}

.add-popup *{
    font-family: 'Titillium Web', sans-serif;
}

.add-popup .body{
    border-radius: 12px;
    background-color: white;
    margin: 26px 22px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.add-popup .body .title{
    padding:10px;
    display: -webkit-box;
}

.add-popup .body .add-title{
    display: table;
    margin: 0 auto;
}

.add-popup .body .title .close{
    color: #00C7B8;
}

.add-popup .body .photo{
    height: 200px;
    background: #F7F7F7;
}

.add-popup .body .photo p{
    color: #DBDBDB;
    font-size: 11px;
}

.add-popup .body .form{
    padding: 15px;
}

.add-popup .body .form input{
    border-radius: 23px;
    border:none;
    height: 46px;
    width: 93%;
    margin-top: 5px;
    background: #F7F7F7;
    padding: 0px 12px;
}

.add-popup .body .form .save{
    background: linear-gradient(90deg, #00A0C3,#00C7B8);
    color: white;
    font-size: 20px;
    padding: 12px 35px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.16);
    border: none;
    border-radius: 12px;
    margin-top: 20px;
}

.paddingt70{
    padding-top: 70px;
}

.blind{
    display: none;
}